.app-layout {
  min-height: 100vh;
}

.app-header {
  background-color: transparent;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
}

.app-header h2 {
  margin: 0 0 0 .5rem;
}

.app-header-icon {
  font-size: 24px;
}

.app-content {
  padding: 1rem 2rem;
}

.file-dropzone-container {
  display: flex;
  justify-content: center;
}

.file-dropzone {
  background-color: #fafafa;
  padding: 1rem;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: ease 0.1s border-color;
  height: 150px;
  width: 300px;
  color: #232323;
}

.file-dropzone:hover {
  border-color: #1890ff;
}

.har-entry-card > .ant-card-body {
  padding: 0;
  overflow: hidden;
}

.har-entry-list {
  max-height: calc(100vh - 272px);
  overflow: auto;
}

.har-data-view-container {
  max-height: calc(100vh - 272px);
  overflow: auto;
}

.ellipsis-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.entry-list-item {
  transition: ease 0.1s background-color;
  cursor: pointer;
}

.entry-list-item:hover {
  background-color: rgb(250, 250, 250);
}

.entry-url {
  font-weight: 500;
}

.entry-data-tab-children-container {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 8px 0;
  max-height: calc(100vh - 256px);
  overflow: auto;
}

.ant-descriptions-item-label {
  white-space: nowrap;
}

.selected-entry {
  background-color: #e6f4ff !important;
}

.request-data-view .ant-collapse-header {
  padding: 12px 0;
}

.response-data-view .ant-collapse-header {
  padding: 12px 0;
}

.post-data-content {
  margin-top: 16px;
}

.post-data-content > .ant-card-body {
  padding: 0 16px 16px 16px;
}

.plain-text-content > pre {
  white-space: pre-line;
}

.json-tree-container {
  font-family: sfmono-regular,Consolas,liberation mono,Menlo,Courier,monospace;
  color: rgb(129, 129, 129);
}

.tree-switcher-icon-clickable {
  line-height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 0;
  border-radius: 4px;
}

.tree-switcher-icon-clickable:hover {
  background-color: rgba(129, 129, 129, 0.1);
}

.tree-switcher-icon-clickable  svg {
  transition: ease 0.1s transform;
}

.tree-switcher-icon-clickable.closed  svg {
  transform: rotate(-90deg);
}

.tree-list {
  list-style: none;
  margin: 0;
  padding: 24px 0;
  position: relative;
}

.tree-list.object::before {
  content: "{";
  position: absolute;
  left: 0;
  top: 2px;
}

.tree-list.object::after {
  content: "}";
  position: absolute;
  left: 0;
  bottom: 2px;
}

.tree-list.array::before {
  content: "[";
  position: absolute;
  left: 0;
  top: 2px;
}

.tree-list.array::after {
  content: "]";
  position: absolute;
  left: 0;
  bottom: 2px;
}

.tree-list-item {
  margin-left: 4px;
  padding-left: 20px;
  border-left: 1px solid rgba(129, 129, 129, 0.2);
}

.tree-list .key {
  color: rgb(249, 69, 116);
  font-weight: 500;
}

.tree-list .value {
  color: rgb(154, 135, 238);
  font-weight: 500;
}